* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    padding: 21px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    overflow-y: hidden;
}

form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instacel {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    height: 100vh;
    padding: 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 15px;
}

.logoinsta {
    width: 180px;
}

.apple,
.playstore {
    width: 130px;
    height: auto;
}

button {
    width: 250px;
    height: 27px;
    background-color: #1e90ff;
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    border: 0;
}

input {
    width: 250px;
    height: 35px;
    border: 0;
    border-radius: 2px;
    outline: 0;
    font-size: 12px;
    color: #333;
    padding: 5px;
}

input:focus {
    border: #aaa 1px solid;
}

form {
    gap: 20px;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inputlogin {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 10px;
}

.inputlogin1 {
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 10px;
}

spam {
    color: grey;
    font-size: 14px;
    font-weight: 600;
}

.face {
    color: #3b5998;
}

.pass {
    color: #3b5998;
    font-size: 13px;
}

.novaacc {
    font-size: 14px;
}

.signup {
    font-weight: 600;
    color: #1e90ff;
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    row-gap: 20px;
}

.apps {
    margin-bottom: 20px;
}

@media (max-width: 860px) {
    .instacel {
        display: none;
    }
}